{%extends "Plankton/plantillas/base.html"%}
{% block title %} Plankton - Donar {% endblock %}

{% block donacionactive %}
<a class="nav-link active" aria-current="page" href="{% url 'donacion'%}">Donar</a>
{% endblock %}

{% block content %}
{% load static %}

<section class="mb-4" id="formulario">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">¡Apoya nuestra causa!</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Cualquier donativo es bienvenido y estaremos muy agradecidos. Siempre
    estamos en busca de mejorar
    y quisiéramos que tú fueras parte de este proceso.
  </p>
  <div class="row">

    <!--Grid column-->
    <div>
      <form id="donation-form" name="donation-form" action="{% url 'pagoexitoso'%}" method="POST" autocomplete="on">
        {% csrf_token %}
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->

            <div id="formdiv-50">
              <label for="name">Nombre</label><label for="name" style="color:#a72e2e;">(*)</label>
              <input type="text" id="nombre" name="nombre" class="form-control">
            </div>

            <div id="formdiv-50">
              <label for="lastname" class="">Apellido</label><label for="lastname" style="color:#a72e2e;">(*)</label>
              <input type="text" id="apellido" name="apellido" class="form-control">
            </div>
        </div>
        <br>

        <!--Grid row-->
        <div class="row">
  
            <div id="formdiv-50">
              <label for="email" class="">Correo</label><label for="email" style="color:#a72e2e;">(*)</label>
              <input type="email" id="correo" name="correo" class="form-control">
            </div>

            
            <div id="formdiv-50">
              <label for="number" class="">Celular</label><label for="number" style="color:#a72e2e;">(*)</label>
              <input type="number" id="celular" name="celular" class="form-control">
            </div>

        </div>
        <br>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-12">
            <div class="md-form mb-0">
              <label for="street">Calle</label><label for="street" style="color:#a72e2e;">(*)</label>
              <input type="text" id="calle" name="calle" class="form-control">
            </div>
          </div>
        </div>
        <!--Grid row-->
        <br>
        <div class="row">

          <!--Grid column-->
            <div id="formdiv-33">
              <label for="region">Región</label><label for="region" style="color:#a72e2e;">(*)</label>
              <select class="form-select" aria-label="Default select example" id="region" name="region">
                <option value="" selected>Elegir...</option>
              </select>
            </div>
          <!--Grid column-->
            <div id="formdiv-33">
              <label for="provincia">Provincia</label><label for="provincia" style="color:#a72e2e;">(*)</label>
              <select class="form-select" aria-label="Default select example" id="provincia" name="provincia">
                <option value="" selected>Elegir...</option>
              </select>
            </div>
          <!--Grid column-->
            <div id="formdiv-33">
              <label for="comuna">Comuna</label><label for="comuna" style="color:#a72e2e;">(*)</label>
              <select class="form-select" aria-label="Default select example" id="comuna" name="comuna">
                <option value="" selected>Elegir...</option>
              </select>
          </div>
        </div>
        <!--Grid row-->
        <br>
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12">
            <div class="md-form mb-12">
              <label for="monto">Monto donación</label><label for="monto" style="color:#a72e2e;">(*)</label>
              <input type="number" id="monto" name="monto" class="form-control">
            </div>
          </div>
        </div>


        <div class="text-center text-md-left">
          <br>
          <input class="btn btn-primary" name="enviar" id="enviar" type="submit" value="Enviar">
        </div>
      </form>
    </div>
  </div>


</section>
<!--Section: Contact v.2-->
{% endblock %}