{%extends "Plankton/plantillas/basetienda.html"%}
{% block todoactive %}<a class="active" href="{% url 'tienda' %}">Todo</a>{% endblock %}
{% block for %}
  </div>
  <div class="tiendaprod-flex" class="containerflex">
    {% for prod in productosall %}
    <div class="card">
      <img src="/media/{{prod.foto}}" class="card-img-top" alt="...">
      <div class="card-body">
        <br>
        <h5 class="card-title">{{prod.nombre}}</h5>
        <p class="card-text"><b>Precio: </b>${{prod.precio}}<br><b>Descripción: </b><p style="  max-width: 2000000px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;">{{prod.descripcion}}</p><br>
        </p>
        <center><a href="{% url 'producto' prod.idProducto %}" class="btn btn-primary">Ir al producto</a></center>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock for %}
